body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{

    text-align: center;
    background-color: #eb0707;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin-bottom: 5px;
}

.add-patient{
    background-color: blueviolet;
    border: none;
    color: aqua;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-colo 0.3s;
}

clear-btn{
    background-color: rgb(95, 226, 43);
    border: none;
    color: rgb(243, 3, 3);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-colo 0.3s;

}